# coding: utf-8

"""
    Brawl Stars API

    Unofficial Swagger definition for the official Brawl Stars API  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class battlelogApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def getBattlelog(self, playerTag, **kwargs):  # noqa: E501
        """  # noqa: E501

        Get information about a single player's battlelog  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.getBattlelog(playerTag, async=True)
        >>> result = thread.get()

        :param async bool
        :param string playerTag: Tag of the player's battle log to retrieve.
 (required)
        :return: Error
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.getBattlelog_with_http_info(playerTag, **kwargs)  # noqa: E501
        else:
            (data) = self.getBattlelog_with_http_info(playerTag, **kwargs)  # noqa: E501
            return data

    def getBattlelog_with_http_info(self, playerTag, **kwargs):  # noqa: E501
        """  # noqa: E501

        Get information about a single player's battlelog  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.getBattlelog_with_http_info(playerTag, async=True)
        >>> result = thread.get()

        :param async bool
        :param string playerTag: Tag of the player's battle log to retrieve.
 (required)
        :return: Error
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['playerTag']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method getBattlelog" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'playerTag' is set
        if ('playerTag' not in params or
                params['playerTag'] is None):
            raise ValueError("Missing the required parameter `playerTag` when calling `getBattlelog`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'playerTag' in params:
            path_params['playerTag'] = params['playerTag']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/json', 'application/json', 'application/json', 'application/json', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/players/{playerTag}/battlelog', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Error',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
